@import "tailwindcss";

@font-face {
  font-family: "Eurostile LT Std";
  src: url("/font/EurostileLTStd.otf");
}

@font-face {
  font-family: "Eurostile LT Std Demi Oblique";
  src: url("/font/EurostileLTStd-DemiOblique.otf");
}

@theme {
  --font-sans: "Eurostile LT Std", monospace;
  --font-demi-oblique: "Eurostile LT Std Demi Oblique", monospace;
}
