@font-face {
  font-family: 'Eurostile LT Std';
  src: url("../font/EurostileLTStd.otf"); // format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile LT Std Oblique';
  src: url("../font/EurostileLTStd-Oblique.otf"); // format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile LT Std Demi';
  src: url("../font/EurostileLTStd-Demi.otf"); //format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile LT Std Demi Oblique';
  src: url("../font/EurostileLTStd-DemiOblique.otf"); //format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile LT Std Bold';
  src: url("../font/EurostileLTStd-Bold.otf"); //format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile LT Std Bold Oblique';
  src: url("../font/EurostileLTStd-BoldOblique.otf"); //format('truetype');
  font-weight: normal;
  font-style: normal;
}